<table class="table table-secondary table-striped">
    <thead class="filters">
    <tr>
        <th class="bg-info" scope="col">#</th>
        <th class="bg-info" scope="col">
            Appointment Date
            <div class="getDateFilter">
                <select class="js-example-basic-multiple filterApptDate " id="filterApptDate" name="filterApptDate[]" multiple="multiple" style="width: 120px;">
                </select>
            </div>
        </th>
        <th class="bg-info" scope="col">
            Appointment Time
            <div class="">
                <select class="js-example-basic-multiple filterApptTime" id="filterApptTime" name="filterApptTime[]" multiple="multiple" style="width: 120px;">
                </select>
            </div>
        </th>
        <th class="bg-info" scope="col">
            First Name
            <div class="">
                <select class="js-example-basic-multiple filterFN" id="filterFN" name="filterFN[]" multiple="multiple" style="width: 120px;">
                </select>
            </div>
        </th>
        <th class="bg-info" scope="col">
            Last Name
            <div class="">
                <select class="js-example-basic-multiple filterLN" id="filterLN" name="filterLN[]" multiple="multiple" style="width: 120px;">
                </select>
            </div>
        </th>
        <th class="bg-info" scope="col">
            Email
            <div class="">
                <select class="js-example-basic-multiple filterEmail" id="filterEmail" name="filterEmail[]" multiple="multiple" style="width: 140px;">
                </select>
            </div>
        </th>
        <th class="bg-info" scope="col">
            Phone
            <div class="">
                <select disabled class="js-example-basic-multiple w-100 filterPhone" id="filterPhone" name="filterPhone[]" multiple="multiple" style="width: 120px;">
                </select>
            </div>
        </th>
        <th class="bg-info" scope="col">
            Message
            <div class="">
                <select disabled class="js-example-basic-multiple w-100" id="filterMsg" name="filterMsg[]" multiple="multiple" style="width: 120px;">
                </select>
            </div>
        </th>
    </thead>
    <tbody class="tbody">
    </tbody>
</table>